<!-- blocks/home-layout-bottom.html -->
<div class="contents lg:flex lg:flex-col lg:w-full lg:gap-6">

    <!-- Row 2: Articles + ad -->
    <div class="contents lg:grid lg:grid-cols-12 lg:gap-4">
        <section class="contents lg:block lg:col-span-9">
            <!-- SOS Fake News / Opinions et Débats / Monde block -->
            <div class="order-[18] lg:order-none" data-include="blocks/widgets/center-sos-fake-news.html"></div>
        </section>
        <aside class="contents lg:block lg:col-span-3">
            <!-- Ads vertical Block -->
            <div class="order-[16] lg:order-none" data-include="blocks/widgets/right-ads-vertical-2.html"></div>
        </aside>
    </div>

</div>
