<!-- blocks/layouts/home-layout-top.html -->
<div class="w-full">
    <!-- 12-column grid -->
    <div class="grid grid-cols-1 lg:grid-cols-12">
        <!-- LEFT SIDEBAR -->
        <aside class="contents lg:flex lg:flex-col lg:col-span-3 gap-2 lg:gap-3 pt-2 lg:pt-4 lg:px-2">
            
            <!-- Mobile Order 6: Royal Media -->
            <div class="order-6 lg:order-none pb-0 my-4 lg:my-0" data-include="blocks/widgets/royal-phototheque.html"></div>

            <div class="order-7 lg:order-none" data-include="blocks/widgets/left-folders.html"></div>

        </aside>

        <!-- MAIN CONTENT (Center) -->
        <section class="contents lg:flex lg:flex-col lg:col-span-9 lg:gap-3 pt-2 lg:pt-4">


        </section>

    </div>
</div>