<!-- blocks/home-layout-middle.html -->
<div class="contents lg:block lg:w-full lg:mb-8">
    <!-- 12-column grid -->
    <div class="contents lg:grid lg:grid-cols-12 lg:gap-x-0">

        <!-- MAIN CONTENT (Center) -->
        <section class="contents lg:flex lg:flex-col lg:col-span-9 lg:gap-[60px] lg:pe-6">

            <!-- Politique category block -->
            <div class="order-[9] lg:order-none" data-include="blocks/widgets/center-politique.html"></div>

            <!-- Activités parlementaires category block -->
            <div class="order-[10] lg:order-none" data-include="blocks/widgets/center-activites-parlementaires.html"></div>

            <!-- Culture et Médias category block -->
            <div class="order-[11] lg:order-none" data-include="blocks/widgets/center-culture-medias.html"></div>

            <div class="order-[14] lg:order-none w-full" data-include="blocks/widgets/press-releases.html"></div>

        </section>

        <!-- RIGHT SIDEBAR -->
        <aside class="contents lg:flex lg:flex-col lg:col-span-3 lg:gap-3 lg:ps-6 lg:border-s-[1.5px] lg:border-[#F0EFE9]">

            <!-- MAP TV vertical videos carousel -->
            <div class="order-[5] lg:order-none" data-include="blocks/widgets/right-map-tv.html"></div>

            <!-- Map Live -->
            <div class="order-[12] lg:order-none" data-include="blocks/widgets/right-map-live.html"></div>

            <div class="order-[6] lg:order-none" data-include="blocks/widgets/right-radio-stream.html"></div>

            <!-- Ads vertical Block -->
            <div class="order-[19] lg:order-none" data-include="blocks/widgets/right-ads-vertical-4.html"></div>

        </aside>

    </div>
</div>

<div class="contents lg:flex lg:flex-col lg:w-full">
    <!-- Row 1: Sport + ad + video -->
    <div class="contents lg:grid lg:grid-cols-12 lg:gap-4">
        <section class="contents lg:block lg:col-span-4">
            <div class="order-[17] lg:order-none" data-include="blocks/widgets/center-sport.html"></div>
        </section>
        <section class="contents lg:block lg:col-span-4">
            <!-- Whatsapp channel Block -->
            <div class="order-[13] lg:order-none flex flex-col w-full max-w-[416px] xl:mx-auto xl:w-[350px] xl:h-[330px]" data-include="blocks/widgets/right-wa-channel.html"></div>
        </section>
        <section class="contents lg:block lg:col-span-4">
            <div class="order-[15] lg:order-none w-full aspect-video xl:h-full xl:max-w-none xl:aspect-auto" data-include="blocks/widgets/right-yt-embed.html"></div>
        </section>
    </div>
</div>
