<!-- blocks/home-layout-middle.html -->
<div class="max-w-7xl mx-auto px-0">
    <!-- 12-column grid -->
    <div class="grid grid-cols-1 lg:grid-cols-12 gap-4">

        <!-- MAIN CONTENT (Center) -->
        <section class="lg:col-span-9 flex flex-col">

        </section>

        <!-- RIGHT SIDEBAR -->
        <aside class="lg:col-span-3 flex flex-col gap-5">

            <!-- MAP TV vertical videos carousel -->
            <div data-include="blocks/widgets/right-map-tv.html"></div>

            <!-- Whatsapp channel Block -->
            <div data-include="blocks/widgets/right-wa-channel.html"></div>

        </aside>

    </div>
</div>
